<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- calendar.component.html -->
<div *ngFor="let day of daysOfWeek">
    <div class="day">{{ day }}</div>
    <div *ngFor="let hour of hoursOfDay">
      <div class="hour">
        <button (click)="reserveTime(daysOfWeek.indexOf(day) + 1, hour, 'PlaceholderUser')">Varaa</button>
      </div>
    </div>
  </div>
  
</body>
</html>